body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;

}

.side-bar {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    width: 35%;
    text-align: center;

}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 10px solid black;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: #212121;
    color: white;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}


.main-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    background-color: wheat;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    transition: 0.3s ease-in-out;
    background-color: orange;
    color: white;

}